body{
    background-image: url("./fotos/background.jpg");
}

#splash{
    background-image: url("./fotos/splashScreen2.gif");
    background-size: cover;
}

.titleGame{
    text-align: center;
    widows: 100%;
}

.sizeTitleGame {
    height: 250px;
}

#gba{
    width: 1300px;
    height: 700px;
    background-color: #3f4694;
    border-radius: 40px 40px 150px 150px;
    margin: 0px auto 0px auto;
    position: relative;
}

#demo{
    width: 896px;
    height: 515px;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto 0px auto;
    position: absolute;
    top: 53.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#marker{
    width: 896px;
    height: 60px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto 0px auto;
    top: 8%;
    left: 15.5%;
    position: absolute;
    display: flex;
}
/*
.button{
    background-color: grey;
    width: 30px;
    height: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
}

.buttonA{
    top: 350px;
    left: 1200px;
}

.buttonB{
    top: 390px;
    left: 1150px;
}*/

.buttonA{
    background-color: grey;
    width: 50px;
    height: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    top: 330px;
    left: 1200px;
}

.buttonB{
    background-color: grey;
    width: 50px;
    height: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    top: 390px;
    left: 1140px;
}

.buttonsStartSelect{
    position: absolute;
    top: 440px;
    left: 50px;
}

.buttonSelect{
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    margin: 0px 0px 0px 36px;
}

.buttonStart{
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
}

.buttonRest{
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
}

.buttonmusic{
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right; 
}

#select{
    margin: 20px;
    font-family: 'Lobster';
    font-size: 25px;
}

#start {
    margin: 20px;
    font-size: 25px;
    font-family: 'Lobster';
}

#restart{
    margin: 20px;
    font-size: 25px;
    font-family: 'Lobster';
}

.cross {
    background: grey;
    height: 100px;
    position: absolute;
    width: 20px;
    top: 280px;
    left: 85px;
}

.cross:after {
    background: grey;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}

.hidden{
    visibility: hidden;
}

#splash{
    width: 900px;
    height: 590px;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto 0px auto;
    position: absolute;
    top: 49.2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startKey{
    color: white;
    position: relative;
    top: 80%;
    left: 10%;
    font-size: 30px;
    font-family: 'Courgette', cursive; 
}

.box{
    background-color: grey;
    padding: 10px;
    width: 26px;
    height: 29px;
    text-align: center;
}

.inline {
    display: inline;
}

td {
    background-color: #F12F2F;
    padding: 12px;
    width: 26.5px;
    height: 26.65px;
    
}

.heart{
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 10px;
}

.hearts{
    width: 400px;
}

.rupee{
    width: 110px;
    height: 100px;
    position: relative;
    bottom: 36px;
}

.rupees{
    margin-left: 440px;
}

.countRupees{
    top: 25px;
    font-size: 20px;
    position: relative;
    color: white;
}

#pause{
    width: 900px;
    height: 580px;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto 0px auto;
    position: absolute;
    top: 49.2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map{
    width: 800px;
    position: relative;
    top: 10px;
    left: 50px;
    height: 430px;
    background-color: lightgray;
    font-size: 16px;
    font-weight: bold;
}

.txtPause{
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-family: 'Lobster';
    text-align: center;
    padding-top: 40px;
}

#gameover{
    width: 900px;
    height: 580px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 49.9%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#musicid{
    margin: 20px;
    font-size: 25px;
    font-family: 'Lobster';
}

.key{
    position: relative;
    left: 180px;
    bottom: 5px;
}

#finishgame{
    width: 900px;
    height: 580px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 49.9%;
    left: 50%;
    transform: translate(-50%, -50%);  
}